.Button{
    background-color: steelblue;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
    box-shadow: 15px 15px 25px grey;
    font-weight: 900;
    font-size: x-large;
}
.Button:hover{
    border: 1px solid white;
    box-shadow: 10px 10px 25px grey;
    color: grey;
}